<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <style>
    body {
      text-align: center;
    }
    img#thumbs-up {
      height: 360px;
    }
  </style>
</head>
<body>
  <h1>Apache server is up and running</h1>
  <h2>Good job!</h2>
  <img id="thumbs-up" src="/images/{{ thumbs_up_person }}-thumbs-up.gif" alt="Thumbs Up">
</body>
</html>
